.vscode/
.idea/
.cache/
build/
build-raspberry/
cmake-build-debug/
cmake-build-release/


*.db
.vs/LMN-3-DAW/v17/Browse.VC.opendb
.vs/LMN-3-DAW/v17/Browse.VC.db-wal
.vs/LMN-3-DAW/v17/Browse.VC.db-shm
.vs/LMN-3-DAW/v17/.wsuo
.vs/LMN-3-DAW/FileContentIndex/1e5fc70f-21d4-4457-b3ec-f1f2aa06e488.vsidx
*.vsidx
.vs/LMN-3-DAW/FileContentIndex/read.lock
.vs/LMN-3-DAW/v17/ipch/AutoPCH/aaab6c3770d09437/PLUGINPROCESSOR.ipch
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/CMake Overview
